---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import LangLink from "./LangLink.astro";

import {useTranslations} from "../i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);

const homeSlug = `/${lang || ""}`;
const blogSlug = `/${lang || ""}/blog`;
// const libSlug = `/${lang || ""}/about`;
const aboutSlug = `/${lang || ""}/about`;

const { pathname } = Astro.url;

// 添加一个变量以确定是否为文章页面
const isArticlePage = pathname.startsWith(blogSlug);

---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href={homeSlug}>{t("header.home")}</HeaderLink>
      <HeaderLink href={blogSlug}>{t("header.blog")}</HeaderLink>
      <!-- TODO i18n -->
      <!-- <HeaderLink href="/docs/01-intro/design/">{t("header.library")}</HeaderLink> -->
      <HeaderLink href={aboutSlug}>{t("header.about")}</HeaderLink>
    </div>
    <!-- yuyan -->
    {/* 根据条件决定是否启用 */}
    {isArticlePage ? (
      <div class="internal-links-button">
        <a target="_blank" href="/zh/blog">zh</a>
      <a target="_blank" href="/en/blog">en</a>
      </div>
    ) : (
      <div class="internal-links-button">
        <LangLink language="zh" isActive={lang == "zh"} />
        <LangLink language="en" isActive={lang == "en"} />
      </div>
    )}
    <div class="social-links">
      <!-- <Search /> -->
    </div>
  </nav>
</header>
<style>

  button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
    }

@media only screen and (max-width: 600px) {
	/* 在宽度小于等于600px的设备上应用以下样式 */
	/* 这里可以放置针对移动设备的样式设置 */
	header {
		display: none;
    z-index: 100;
	  }
	
  }
  header {
    z-index: 100;
    position: relative;
    margin: 0;
    padding: 0 1em;
    background: var(--bgc);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    /* border-bottom: 4px solid transparent; */
    text-decoration: none;
    font-weight: bolder;
  }
  nav a.active {
    /* text-decoration: bold; */
    color: var(--hc);
    font-weight: bolder;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }


</style>
