---
import HeaderLink from "./HeaderLink.astro";
import Social from "./Social.astro";
import LangLink from "./LangLink.astro";

import {useTranslations} from "../i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);

const homeSlug = `/${lang || ""}`;
const blogSlug = `/${lang || ""}/blog`;
const tagSlug = `/${lang || ""}/tags`;
const aboutSlug = `/${lang || ""}/about`;
const friendSlug = `/${lang || ""}/friends`;

const { pathname } = Astro.url;

const isArticlePage = pathname.startsWith(blogSlug);

---

<header>
  <nav>
    {isArticlePage ? (
      <div class="internal-links">
      <div class="language-dropdown">
      <div class="mobile-icon">
<svg t="1709906018680" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3736" width="50" height="50"><path d="M832.57 313.76h59.56v59.56h-59.56zM773.01 790.24h59.55v59.56h-59.55zM773.01 730.68h59.55v59.55h-59.55z" fill="#333333" p-id="3737"></path><path d="M773.01 671.12h59.55v59.56h-59.55zM773.01 611.57h59.55v59.55h-59.55zM773.01 552h59.55v59.56h-59.55zM773.01 492.45h59.55V552h-59.55zM773.01 432.88h59.55v59.56h-59.55z" fill="#333333" p-id="3738"></path><path d="M773.01 313.76h59.55v59.56h-59.55z" fill="#999999" p-id="3739"></path><path d="M773.01 254.21h59.55v59.55h-59.55zM713.45 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3740"></path><path d="M713.45 790.24h59.56v59.56h-59.56zM713.45 730.68h59.56v59.55h-59.56z" fill="#999999" p-id="3741"></path><path d="M713.45 671.12h59.56v59.56h-59.56zM713.45 611.57h59.56v59.55h-59.56zM713.45 552h59.56v59.56h-59.56zM713.45 492.45h59.56V552h-59.56z" fill="#999999" p-id="3742"></path><path d="M713.45 432.88h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3743"></path><path d="M713.45 313.76h59.56v59.56h-59.56z" fill="#999999" p-id="3744"></path><path d="M713.45 254.21h59.56v59.55h-59.56zM653.89 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3745"></path><path d="M653.89 790.24h59.55v59.56h-59.55zM653.89 730.68h59.55v59.55h-59.55z" fill="#999999" p-id="3746"></path><path d="M653.89 671.12h59.55v59.56h-59.55zM653.89 611.57h59.55v59.55h-59.55zM653.89 552h59.55v59.56h-59.55zM653.89 492.45h59.55V552h-59.55zM653.89 432.88h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3747"></path><path d="M653.89 313.76h59.55v59.56h-59.55z" fill="#999999" p-id="3748"></path><path d="M653.89 254.21h59.55v59.55h-59.55zM594.33 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3749"></path><path d="M594.33 790.24h59.56v59.56h-59.56z" fill="#999999" p-id="3750"></path><path d="M594.33 730.68h59.56v59.55h-59.56z" fill="#CCCCCC" p-id="3751"></path><path d="M594.33 671.12h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3752"></path><path d="M594.33 611.57h59.56v59.55h-59.56zM594.33 552h59.56v59.56h-59.56zM594.33 492.45h59.56V552h-59.56z" fill="#333333" p-id="3753"></path><path d="M594.33 432.88h59.56v59.56h-59.56zM594.33 313.76h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3754"></path><path d="M594.33 254.21h59.56v59.55h-59.56zM594.33 194.64h59.56v59.56h-59.56zM534.77 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3755"></path><path d="M534.77 790.24h59.55v59.56h-59.55z" fill="#999999" p-id="3756"></path><path d="M534.77 730.68h59.55v59.55h-59.55z" fill="#CCCCCC" p-id="3757"></path><path d="M534.77 671.12h59.55v59.56h-59.55zM534.77 611.57h59.55v59.55h-59.55zM534.77 552h59.55v59.56h-59.55zM534.77 492.45h59.55V552h-59.55zM534.77 432.88h59.55v59.56h-59.55zM534.77 313.76h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3758"></path><path d="M534.77 254.21h59.55v59.55h-59.55zM534.77 194.64h59.55v59.56h-59.55zM534.77 135.09h59.55v59.55h-59.55zM475.21 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3759"></path><path d="M475.21 790.24h59.56v59.56h-59.56z" fill="#999999" p-id="3760"></path><path d="M475.21 730.68h59.56v59.55h-59.56z" fill="#CCCCCC" p-id="3761"></path><path d="M475.21 671.12h59.56v59.56h-59.56zM475.21 611.57h59.56v59.55h-59.56zM475.21 552h59.56v59.56h-59.56zM475.21 492.45h59.56V552h-59.56zM475.21 432.88h59.56v59.56h-59.56zM475.21 313.76h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3762"></path><path d="M475.21 254.21h59.56v59.55h-59.56z" fill="#333333" p-id="3763"></path><path d="M475.21 194.64h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3764"></path><path d="M475.21 135.09h59.56v59.55h-59.56zM415.65 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3765"></path><path d="M415.65 790.24h59.55v59.56h-59.55z" fill="#999999" p-id="3766"></path><path d="M415.65 730.68h59.55v59.55h-59.55z" fill="#CCCCCC" p-id="3767"></path><path d="M415.65 671.12h59.55v59.56h-59.55zM415.65 611.57h59.55v59.55h-59.55zM415.65 552h59.55v59.56h-59.55zM415.65 492.45h59.55V552h-59.55zM415.65 432.88h59.55v59.56h-59.55zM415.65 313.76h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3768"></path><path d="M415.65 254.21h59.55v59.55h-59.55z" fill="#333333" p-id="3769"></path><path d="M415.65 194.64h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3770"></path><path d="M415.65 135.09h59.55v59.55h-59.55zM356.09 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3771"></path><path d="M356.09 790.24h59.56v59.56h-59.56z" fill="#E5E5E5" p-id="3772"></path><path d="M356.09 730.68h59.56v59.55h-59.56z" fill="#CCCCCC" p-id="3773"></path><path d="M356.09 671.12h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3774"></path><path d="M356.09 611.57h59.56v59.55h-59.56zM356.09 552h59.56v59.56h-59.56zM356.09 492.45h59.56V552h-59.56z" fill="#333333" p-id="3775"></path><path d="M356.09 432.88h59.56v59.56h-59.56zM356.09 313.76h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3776"></path><path d="M356.09 254.21h59.56v59.55h-59.56zM356.09 194.64h59.56v59.56h-59.56zM296.54 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3777"></path><path d="M296.54 790.24h59.55v59.56h-59.55zM296.54 730.68h59.55v59.55h-59.55z" fill="#E5E5E5" p-id="3778"></path><path d="M296.54 671.12h59.55v59.56h-59.55zM296.54 611.57h59.55v59.55h-59.55zM296.54 552h59.55v59.56h-59.55zM296.54 492.45h59.55V552h-59.55zM296.54 432.88h59.55v59.56h-59.55zM296.54 313.76h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3779"></path><path d="M296.54 254.21h59.55v59.55h-59.55zM236.97 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3780"></path><path d="M236.97 790.24h59.56v59.56h-59.56zM236.97 730.68h59.56v59.55h-59.56z" fill="#E5E5E5" p-id="3781"></path><path d="M236.97 671.12h59.56v59.56h-59.56zM236.97 611.57h59.56v59.55h-59.56zM236.97 552h59.56v59.56h-59.56zM236.97 492.45h59.56V552h-59.56zM236.97 432.88h59.56v59.56h-59.56zM236.97 313.76h59.56v59.56h-59.56z" fill="#E5E5E5" p-id="3782"></path><path d="M236.97 254.21h59.56v59.55h-59.56zM177.41 790.24h59.56v59.56h-59.56zM177.41 730.68h59.56v59.55h-59.56z" fill="#333333" p-id="3783"></path><path d="M177.41 671.12h59.56v59.56h-59.56zM177.41 611.57h59.56v59.55h-59.56zM177.41 552h59.56v59.56h-59.56zM177.41 492.45h59.56V552h-59.56zM177.41 432.88h59.56v59.56h-59.56z" fill="#333333" p-id="3784"></path><path d="M177.41 313.76h59.56v59.56h-59.56z" fill="#E5E5E5" p-id="3785"></path><path d="M177.41 254.21h59.56v59.55h-59.56zM117.85 313.76h59.55v59.56h-59.55z" fill="#333333" p-id="3786"></path></svg>
      </div>
        <div class="dropdown-content">
          <div class="internal-links">
          <HeaderLink href={homeSlug}>{t("header.home")}</HeaderLink>
          <HeaderLink href={blogSlug}>{t("header.blog")}</HeaderLink>
          <HeaderLink href={tagSlug}>{t("header.tags")}</HeaderLink>
          <HeaderLink href={aboutSlug}>{t("header.about")}</HeaderLink>
          <HeaderLink href={friendSlug}>{t("friends.title")}</HeaderLink>
          </div>
          <a href="/zh/blog">中文</a>
          <a href="/en/blog">English</a>
        </div>
      </div>
      </div>
      ) : (
      <div class="internal-links">
      <div class="language-dropdown">
      <div class="mobile-icon">
<svg t="1709906018680" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3736" width="50" height="50"><path d="M832.57 313.76h59.56v59.56h-59.56zM773.01 790.24h59.55v59.56h-59.55zM773.01 730.68h59.55v59.55h-59.55z" fill="#333333" p-id="3737"></path><path d="M773.01 671.12h59.55v59.56h-59.55zM773.01 611.57h59.55v59.55h-59.55zM773.01 552h59.55v59.56h-59.55zM773.01 492.45h59.55V552h-59.55zM773.01 432.88h59.55v59.56h-59.55z" fill="#333333" p-id="3738"></path><path d="M773.01 313.76h59.55v59.56h-59.55z" fill="#999999" p-id="3739"></path><path d="M773.01 254.21h59.55v59.55h-59.55zM713.45 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3740"></path><path d="M713.45 790.24h59.56v59.56h-59.56zM713.45 730.68h59.56v59.55h-59.56z" fill="#999999" p-id="3741"></path><path d="M713.45 671.12h59.56v59.56h-59.56zM713.45 611.57h59.56v59.55h-59.56zM713.45 552h59.56v59.56h-59.56zM713.45 492.45h59.56V552h-59.56z" fill="#999999" p-id="3742"></path><path d="M713.45 432.88h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3743"></path><path d="M713.45 313.76h59.56v59.56h-59.56z" fill="#999999" p-id="3744"></path><path d="M713.45 254.21h59.56v59.55h-59.56zM653.89 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3745"></path><path d="M653.89 790.24h59.55v59.56h-59.55zM653.89 730.68h59.55v59.55h-59.55z" fill="#999999" p-id="3746"></path><path d="M653.89 671.12h59.55v59.56h-59.55zM653.89 611.57h59.55v59.55h-59.55zM653.89 552h59.55v59.56h-59.55zM653.89 492.45h59.55V552h-59.55zM653.89 432.88h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3747"></path><path d="M653.89 313.76h59.55v59.56h-59.55z" fill="#999999" p-id="3748"></path><path d="M653.89 254.21h59.55v59.55h-59.55zM594.33 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3749"></path><path d="M594.33 790.24h59.56v59.56h-59.56z" fill="#999999" p-id="3750"></path><path d="M594.33 730.68h59.56v59.55h-59.56z" fill="#CCCCCC" p-id="3751"></path><path d="M594.33 671.12h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3752"></path><path d="M594.33 611.57h59.56v59.55h-59.56zM594.33 552h59.56v59.56h-59.56zM594.33 492.45h59.56V552h-59.56z" fill="#333333" p-id="3753"></path><path d="M594.33 432.88h59.56v59.56h-59.56zM594.33 313.76h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3754"></path><path d="M594.33 254.21h59.56v59.55h-59.56zM594.33 194.64h59.56v59.56h-59.56zM534.77 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3755"></path><path d="M534.77 790.24h59.55v59.56h-59.55z" fill="#999999" p-id="3756"></path><path d="M534.77 730.68h59.55v59.55h-59.55z" fill="#CCCCCC" p-id="3757"></path><path d="M534.77 671.12h59.55v59.56h-59.55zM534.77 611.57h59.55v59.55h-59.55zM534.77 552h59.55v59.56h-59.55zM534.77 492.45h59.55V552h-59.55zM534.77 432.88h59.55v59.56h-59.55zM534.77 313.76h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3758"></path><path d="M534.77 254.21h59.55v59.55h-59.55zM534.77 194.64h59.55v59.56h-59.55zM534.77 135.09h59.55v59.55h-59.55zM475.21 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3759"></path><path d="M475.21 790.24h59.56v59.56h-59.56z" fill="#999999" p-id="3760"></path><path d="M475.21 730.68h59.56v59.55h-59.56z" fill="#CCCCCC" p-id="3761"></path><path d="M475.21 671.12h59.56v59.56h-59.56zM475.21 611.57h59.56v59.55h-59.56zM475.21 552h59.56v59.56h-59.56zM475.21 492.45h59.56V552h-59.56zM475.21 432.88h59.56v59.56h-59.56zM475.21 313.76h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3762"></path><path d="M475.21 254.21h59.56v59.55h-59.56z" fill="#333333" p-id="3763"></path><path d="M475.21 194.64h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3764"></path><path d="M475.21 135.09h59.56v59.55h-59.56zM415.65 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3765"></path><path d="M415.65 790.24h59.55v59.56h-59.55z" fill="#999999" p-id="3766"></path><path d="M415.65 730.68h59.55v59.55h-59.55z" fill="#CCCCCC" p-id="3767"></path><path d="M415.65 671.12h59.55v59.56h-59.55zM415.65 611.57h59.55v59.55h-59.55zM415.65 552h59.55v59.56h-59.55zM415.65 492.45h59.55V552h-59.55zM415.65 432.88h59.55v59.56h-59.55zM415.65 313.76h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3768"></path><path d="M415.65 254.21h59.55v59.55h-59.55z" fill="#333333" p-id="3769"></path><path d="M415.65 194.64h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3770"></path><path d="M415.65 135.09h59.55v59.55h-59.55zM356.09 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3771"></path><path d="M356.09 790.24h59.56v59.56h-59.56z" fill="#E5E5E5" p-id="3772"></path><path d="M356.09 730.68h59.56v59.55h-59.56z" fill="#CCCCCC" p-id="3773"></path><path d="M356.09 671.12h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3774"></path><path d="M356.09 611.57h59.56v59.55h-59.56zM356.09 552h59.56v59.56h-59.56zM356.09 492.45h59.56V552h-59.56z" fill="#333333" p-id="3775"></path><path d="M356.09 432.88h59.56v59.56h-59.56zM356.09 313.76h59.56v59.56h-59.56z" fill="#CCCCCC" p-id="3776"></path><path d="M356.09 254.21h59.56v59.55h-59.56zM356.09 194.64h59.56v59.56h-59.56zM296.54 849.8h59.55v59.56h-59.55z" fill="#333333" p-id="3777"></path><path d="M296.54 790.24h59.55v59.56h-59.55zM296.54 730.68h59.55v59.55h-59.55z" fill="#E5E5E5" p-id="3778"></path><path d="M296.54 671.12h59.55v59.56h-59.55zM296.54 611.57h59.55v59.55h-59.55zM296.54 552h59.55v59.56h-59.55zM296.54 492.45h59.55V552h-59.55zM296.54 432.88h59.55v59.56h-59.55zM296.54 313.76h59.55v59.56h-59.55z" fill="#CCCCCC" p-id="3779"></path><path d="M296.54 254.21h59.55v59.55h-59.55zM236.97 849.8h59.56v59.56h-59.56z" fill="#333333" p-id="3780"></path><path d="M236.97 790.24h59.56v59.56h-59.56zM236.97 730.68h59.56v59.55h-59.56z" fill="#E5E5E5" p-id="3781"></path><path d="M236.97 671.12h59.56v59.56h-59.56zM236.97 611.57h59.56v59.55h-59.56zM236.97 552h59.56v59.56h-59.56zM236.97 492.45h59.56V552h-59.56zM236.97 432.88h59.56v59.56h-59.56zM236.97 313.76h59.56v59.56h-59.56z" fill="#E5E5E5" p-id="3782"></path><path d="M236.97 254.21h59.56v59.55h-59.56zM177.41 790.24h59.56v59.56h-59.56zM177.41 730.68h59.56v59.55h-59.56z" fill="#333333" p-id="3783"></path><path d="M177.41 671.12h59.56v59.56h-59.56zM177.41 611.57h59.56v59.55h-59.56zM177.41 552h59.56v59.56h-59.56zM177.41 492.45h59.56V552h-59.56zM177.41 432.88h59.56v59.56h-59.56z" fill="#333333" p-id="3784"></path><path d="M177.41 313.76h59.56v59.56h-59.56z" fill="#E5E5E5" p-id="3785"></path><path d="M177.41 254.21h59.56v59.55h-59.56zM117.85 313.76h59.55v59.56h-59.55z" fill="#333333" p-id="3786"></path></svg>
      </div>
      <div class="dropdown-content">
        <div class="internal-links">
          <HeaderLink href={homeSlug}>{t("header.home")}</HeaderLink>
          <HeaderLink href={blogSlug}>{t("header.blog")}</HeaderLink>
          <HeaderLink href={tagSlug}>{t("header.tags")}</HeaderLink>
          <HeaderLink href={aboutSlug}>{t("header.about")}</HeaderLink>
          <HeaderLink href={friendSlug}>{t("friends.title")}</HeaderLink>
        </div>
          <LangLink language="zh" isActive={lang == "zh"}>中文</LangLink>
          <LangLink language="en" isActive={lang == "en"}>English</LangLink>
        </div>
      </div>
      </div>
    )}

  </nav>
</header>

<style>

header {
  display: none;
}

/* 移动设备 */
@media only screen and (max-width: 600px) {
  /* 在宽度小于等于600px的设备上应用以下样式 */
  /* 这里可以放置针对移动设备的样式设置 */
  header {
    z-index: 100;
    position: relative;
    display: block;
  }

  nav a.active {
    text-decoration: var(--hc);
  }

  h2 {
    display: none;
  }
   .mobile-icon {
    padding-top: 10px;
   }
  .language-dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    font-size: 0.8rem;
    border-radius: 5px;
    display: none;
    position: absolute;
    min-width: 90px;
    z-index: 1;
    top: 100%;
  }

  .dropdown-content a {
    text-decoration: none;
    display: block;
    background-color: #282a34;
  }

  .dropdown-content a:hover {
    background-color: #8c88887f;
  }

  .language-dropdown:hover .dropdown-content {
    display: block;
  }
}

/* 根据设备类型来应用样式 */
@media only screen and (pointer: coarse) {
  /* 在触摸屏设备上应用以下样式 */
  /* 这里可以放置针对触摸屏设备的样式设置 */
}

/* 根据设备方向来应用样式 */
@media only screen and (orientation: landscape) {
  /* 在横向模式的设备上应用以下样式 */
  /* 这里可以放置针对横向模式的样式设置 */
}

@media only screen and (orientation: portrait) {
  /* 在纵向模式的设备上应用以下样式 */
  /* 这里可以放置针对纵向模式的样式设置 */
}

header {
  margin: 0;
  padding: 0 1em;
  background: var(--bgc);
}

h2 {
  margin: 0;
  font-size: 1em;
}

h2 a,
h2 a.active {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  padding: 1em 0.5em;
  color: var(--black);
  text-decoration: none;
}

nav a.active {
  text-decoration: var(--hc);
}

.social-links,
.social-links a {
  display: flex;
}

@media (max-width: 720px) {
  .social-links {
    display: none;
  }
}

</style>
