---
import HeaderLink from "../../components/HeaderLink.astro";
import Social from "../../components/Social.astro";
import Pin from "../../components/Pin.astro"
import LatestBlogPosts from "../../components/LatestBlogPosts.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import BaseHead from "../../components/BaseHead.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export async function getStaticPaths() {
    return ["zh", "en"].map((lang) => { //lang
        return { params: { lang } };
    });
}

const today = new Date();


const homeSlug = `/${lang || ""}`;
const blogSlug = `/${lang || ""}/blog`;
const tagSlug = `/${lang || ""}/tags`;
const aboutSlug = `/${lang || ""}/about`;
const friendSlug = `/${lang || ""}/friends`;
const rssSlug = `/${lang || ""}.xml`;
---
<html lang={lang}>
<head>
    <BaseHead lang={lang} title={t("site.title")} description={t("site.description")}/>
</head>
<body>
<div class="parent" data-animate-enter>
    <div class="box" id="div1" data-animate-enter>
        <nav class="homep">
            <div class="maintitle">
                <p><span class="hometitle">{t("home.title")}</span><a href={rssSlug} class="icon-link">
                    <svg t="1709804049548" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8431" width="15" height="15"><path d="M42.666667 853.333333a128 128 0 1 1 256 0 128 128 0 0 1-256 0z m938.666666 128h-178.773333c0-418.986667-340.906667-759.893333-759.893333-759.893333V42.666667c517.546667 0 938.666667 421.12 938.666666 938.666666z m-298.666666 0h-182.826667c0-252.074667-205.098667-457.130667-457.173333-457.130666V341.333333c352.896 0 640 287.104 640 640z" fill="#EE802F" p-id="8432"></path></svg>
                  </a></p>
                <p>{t("home.description.l1")}
                    {t("home.description.l2")}</p>
                <Social />
            </div>
            <img src="/favicon.svg" alt="Logo">
        </nav>
    </div>
    <div class="box" id="div2">
        <script>
            // 获取当前时间
            function getCurrentTime() {
                const currentDate = new Date();
            
                // 获取小时、分钟和秒数
                const hours = currentDate.getHours().toString().padStart(2, '0');
                const minutes = currentDate.getMinutes().toString().padStart(2, '0');
                const seconds = currentDate.getSeconds().toString().padStart(2, '0');
            
                // 将时间格式化为字符串
                const currentTimeString = hours + ':' + minutes + ':' + seconds;
            
                // 将时间输出到 div2 中
                const div2 = document.getElementById('div2');
                div2.textContent = currentTimeString;
            }
            
            // 每秒更新一次时间
            setInterval(getCurrentTime, 1000);
            
            // 页面加载时立即获取一次时间
            getCurrentTime();
            </script>
    </div>
    <a  href={blogSlug} class="box" id="div4" style="text-decoration:none">
        <span class="text">BLOG</span>
    </a>
    <a href={tagSlug} class="box" id="div4c">
        <span class="text">TAGS</span>
    </a>
    <div class="box" id="div5">
        <Pin />
        <div>{t("home.recent")}</div>
        <LatestBlogPosts />
    </div>
    <div class="box" id="div6"> 
        <p>How many more times will you remember a certain afternoon of your childhood?</p>
        <p>{t("home.bbly")}『Fullmoon』</p>
    </div>

    <div class="box" id="div3">
        <div class="footer-text">Build with <a href="https://astro.build/">Astro</a> & <a href="https://github.com/A5yncX/DG">TRON</a>.</div>
        <div class="footer-text">&copy; 2019 - {today.getFullYear()}</div>
        <a href="https://theuselessweb.com/">
            <svg t="1709900041146" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7986" width="24" height="24"><path d="M787.692308 866.461538h78.76923v78.769231h-78.76923zM787.692308 787.692308h78.76923v78.76923h-78.76923zM787.692308 708.923077h78.76923v78.769231h-78.76923zM787.692308 630.153846h78.76923v78.769231h-78.76923zM787.692308 551.384615h78.76923v78.769231h-78.76923zM787.692308 472.615385h78.76923v78.76923h-78.76923zM787.692308 393.846154h78.76923v78.769231h-78.76923zM708.923077 945.230769h78.769231v78.769231h-78.769231z" fill="#1E2028" p-id="7987"></path><path d="M708.923077 866.461538h78.769231v78.769231h-78.769231zM708.923077 787.692308h78.769231v78.76923h-78.769231zM708.923077 708.923077h78.769231v78.769231h-78.769231zM708.923077 630.153846h78.769231v78.769231h-78.769231z" fill="#AF1441" p-id="7988"></path><path d="M708.923077 551.384615h78.769231v78.769231h-78.769231z" fill="#FF1A51" p-id="7989"></path><path d="M708.923077 472.615385h78.769231v78.76923h-78.769231zM708.923077 393.846154h78.769231v78.769231h-78.769231z" fill="#D6D6D6" p-id="7990"></path><path d="M708.923077 315.076923h78.769231v78.769231h-78.769231zM708.923077 157.538462h78.769231v78.76923h-78.769231zM708.923077 78.769231h78.769231v78.769231h-78.769231zM630.153846 945.230769h78.769231v78.769231h-78.769231z" fill="#1E2028" p-id="7991"></path><path d="M630.153846 866.461538h78.769231v78.769231h-78.769231z" fill="#AF1441" p-id="7992"></path><path d="M630.153846 787.692308h78.769231v78.76923h-78.769231zM630.153846 708.923077h78.769231v78.769231h-78.769231zM630.153846 630.153846h78.769231v78.769231h-78.769231zM630.153846 551.384615h78.769231v78.769231h-78.769231z" fill="#FF1A51" p-id="7993"></path><path d="M630.153846 472.615385h78.769231v78.76923h-78.769231zM630.153846 393.846154h78.769231v78.769231h-78.769231z" fill="#FFFFFF" p-id="7994"></path><path d="M630.153846 315.076923h78.769231v78.769231h-78.769231z" fill="#D6D6D6" p-id="7995"></path><path d="M630.153846 236.307692h78.769231v78.769231h-78.769231zM630.153846 157.538462h78.769231v78.76923h-78.769231z" fill="#1E2028" p-id="7996"></path><path d="M630.153846 78.769231h78.769231v78.769231h-78.769231z" fill="#FF9343" p-id="7997"></path><path d="M630.153846 0h78.769231v78.769231h-78.769231zM551.384615 945.230769h78.769231v78.769231h-78.769231z" fill="#1E2028" p-id="7998"></path><path d="M551.384615 866.461538h78.769231v78.769231h-78.769231z" fill="#AF1441" p-id="7999"></path><path d="M551.384615 787.692308h78.769231v78.76923h-78.769231zM551.384615 708.923077h78.769231v78.769231h-78.769231zM551.384615 630.153846h78.769231v78.769231h-78.769231zM551.384615 551.384615h78.769231v78.769231h-78.769231z" fill="#FF1A51" p-id="8000"></path><path d="M551.384615 472.615385h78.769231v78.76923h-78.769231zM551.384615 393.846154h78.769231v78.769231h-78.769231zM551.384615 315.076923h78.769231v78.769231h-78.769231z" fill="#FFFFFF" p-id="8001"></path><path d="M551.384615 236.307692h78.769231v78.769231h-78.769231z" fill="#FF9343" p-id="8002"></path><path d="M551.384615 157.538462h78.769231v78.76923h-78.769231z" fill="#1E2028" p-id="8003"></path><path d="M551.384615 78.769231h78.769231v78.769231h-78.769231z" fill="#FFDD4D" p-id="8004"></path><path d="M551.384615 0h78.769231v78.769231h-78.769231zM472.615385 945.230769h78.76923v78.769231h-78.76923z" fill="#1E2028" p-id="8005"></path><path d="M472.615385 866.461538h78.76923v78.769231h-78.76923z" fill="#AF1441" p-id="8006"></path><path d="M472.615385 787.692308h78.76923v78.76923h-78.76923zM472.615385 708.923077h78.76923v78.769231h-78.76923zM472.615385 630.153846h78.76923v78.769231h-78.76923zM472.615385 551.384615h78.76923v78.769231h-78.76923z" fill="#FF1A51" p-id="8007"></path><path d="M472.615385 472.615385h78.76923v78.76923h-78.76923zM472.615385 393.846154h78.76923v78.769231h-78.76923zM472.615385 315.076923h78.76923v78.769231h-78.76923z" fill="#FFFFFF" p-id="8008"></path><path d="M472.615385 236.307692h78.76923v78.769231h-78.76923z" fill="#FF9343" p-id="8009"></path><path d="M472.615385 157.538462h78.76923v78.76923h-78.76923z" fill="#1E2028" p-id="8010"></path><path d="M472.615385 78.769231h78.76923v78.769231h-78.76923z" fill="#FFDD4D" p-id="8011"></path><path d="M472.615385 0h78.76923v78.769231h-78.76923zM393.846154 945.230769h78.769231v78.769231h-78.769231z" fill="#1E2028" p-id="8012"></path><path d="M393.846154 866.461538h78.769231v78.769231h-78.769231z" fill="#AF1441" p-id="8013"></path><path d="M393.846154 787.692308h78.769231v78.76923h-78.769231zM393.846154 708.923077h78.769231v78.769231h-78.769231zM393.846154 630.153846h78.769231v78.769231h-78.769231zM393.846154 551.384615h78.769231v78.769231h-78.769231z" fill="#FF1A51" p-id="8014"></path><path d="M393.846154 472.615385h78.769231v78.76923h-78.769231zM393.846154 393.846154h78.769231v78.769231h-78.769231zM393.846154 315.076923h78.769231v78.769231h-78.769231z" fill="#FFFFFF" p-id="8015"></path><path d="M393.846154 236.307692h78.769231v78.769231h-78.769231z" fill="#FF9343" p-id="8016"></path><path d="M393.846154 157.538462h78.769231v78.76923h-78.769231z" fill="#1E2028" p-id="8017"></path><path d="M393.846154 78.769231h78.769231v78.769231h-78.769231z" fill="#FFDD4D" p-id="8018"></path><path d="M393.846154 0h78.769231v78.769231h-78.769231zM315.076923 945.230769h78.769231v78.769231h-78.769231z" fill="#1E2028" p-id="8019"></path><path d="M315.076923 866.461538h78.769231v78.769231h-78.769231z" fill="#F4608A" p-id="8020"></path><path d="M315.076923 787.692308h78.769231v78.76923h-78.769231z" fill="#FF1A51" p-id="8021"></path><path d="M315.076923 708.923077h78.769231v78.769231h-78.769231zM315.076923 630.153846h78.769231v78.769231h-78.769231z" fill="#FFFFFF" p-id="8022"></path><path d="M315.076923 551.384615h78.769231v78.769231h-78.769231z" fill="#FF1A51" p-id="8023"></path><path d="M315.076923 472.615385h78.769231v78.76923h-78.769231zM315.076923 393.846154h78.769231v78.769231h-78.769231zM315.076923 315.076923h78.769231v78.769231h-78.769231z" fill="#FFFFFF" p-id="8024"></path><path d="M315.076923 236.307692h78.769231v78.769231h-78.769231zM315.076923 157.538462h78.769231v78.76923h-78.769231z" fill="#1E2028" p-id="8025"></path><path d="M315.076923 78.769231h78.769231v78.769231h-78.769231z" fill="#FFF1B6" p-id="8026"></path><path d="M315.076923 0h78.769231v78.769231h-78.769231zM236.307692 945.230769h78.769231v78.769231h-78.769231z" fill="#1E2028" p-id="8027"></path><path d="M236.307692 866.461538h78.769231v78.769231h-78.769231zM236.307692 787.692308h78.769231v78.76923h-78.769231zM236.307692 708.923077h78.769231v78.769231h-78.769231zM236.307692 630.153846h78.769231v78.769231h-78.769231zM236.307692 551.384615h78.769231v78.769231h-78.769231z" fill="#F4608A" p-id="8028"></path><path d="M236.307692 472.615385h78.769231v78.76923h-78.769231zM236.307692 393.846154h78.769231v78.769231h-78.769231z" fill="#FFFFFF" p-id="8029"></path><path d="M236.307692 315.076923h78.769231v78.769231h-78.769231zM236.307692 157.538462h78.769231v78.76923h-78.769231zM236.307692 78.769231h78.769231v78.769231h-78.769231zM157.538462 866.461538h78.76923v78.769231H157.538462zM157.538462 787.692308h78.76923v78.76923H157.538462zM157.538462 708.923077h78.76923v78.769231H157.538462zM157.538462 630.153846h78.76923v78.769231H157.538462zM157.538462 551.384615h78.76923v78.769231H157.538462zM157.538462 472.615385h78.76923v78.76923H157.538462zM157.538462 393.846154h78.76923v78.769231H157.538462z" fill="#1E2028" p-id="8030"></path></svg>
        </a>
    </div>
</div>
</body>

</html>
<style>
    :root{
        background-color: var(--bgc);
    }
    body {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 100vh; /* 设置 body 的高度为视口高度 */
        margin: 0; /* 去除 body 默认的边距 */
    }
    @keyframes enter {
    0% {
        opacity: 0;
        /* transform: translateY(-30px) */
    }

    to {
        opacity: 1;
        transform: none
    }
}
@keyframes blurOut {
        from {
            filter: blur(20px);
        }

        to {
            filter: blur(0px);
        }
    }
    [data-animate-enter] {
    --stagger: 0;
    --delay: 1000ms;
    --start: 700ms
}
    @media (prefers-reduced-motion:no-preference) {
        [data-animate-enter] {
            animation: enter 1s both, blurOut 1s both;
            animation-delay: calc(var(--stagger) * var(--delay) + var(--start))
        }
    }
    @media (min-width: 800px) {
        .parent .box {
            border: 1px solid #ffffff38;
            border-radius: 10px;
            overflow: auto;
            transition: .2s ease-in-out;
            background-color: #00000030;
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
        }


        .parent .box:hover {
            border: 1px solid var(--accent);
            background-color: #00000030;
            transition: .2s ease-in-out;
            box-shadow: 0px 0px 200px 1px rgba(249, 207, 68, 0.3);
        }
        .parent {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            max-width: 950px;
            max-height: 650px;
            padding: 2rem;
            position: relative;
        }

        #div1 { grid-area: 1 / 1 / 3 / 4;
        }
        #div1 img {
            width: 10rem;
            margin: 1rem 1rem;
        }
        .maintitle {
            padding: 0;
            nav {
                display: flex;
                justify-content: flex-start;
            }
            a {
               text-decoration: none; 
            }
        }
        #div2 {
            grid-area: 1 / 4 / 2 / 5;
            font-family: var(--font-family-mono);
            font-size: 2rem;
            max-height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #div3 {
            grid-area: 4 / 4 / 5 / 5;
            font-family: var(--font-family-mono);
            font-size: 0.8rem;
            display: flex;
            text-align: center;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: var(--gray);
        }
        #div4 {
            grid-area: 3 / 1 / 4 / 2;
            align-items: center;
            background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            border: 0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 140px;
            padding: 3px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
            transition: all .3s;

        }
        #div4 span,#div4c span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #20222a;
            border-radius: 8px;
            width: 100%;
            height: 100%;
            transition: 300ms;
            font-size: 2rem;
            color: var(--hc);
}

        #div4:hover span,#div4c:hover span {
            background: none;
        }

        #div4:active,#div4c:active {
            transform: scale(0.9);
        }
        #div4:active,#div4:hover,#div4c:hover,#div4c:active {
            outline: 0;
            box-shadow: 0px 0px 200px 1px rgba(68, 180, 249, 0.547);
        }

        #div4c {
            grid-area: 4 / 1 / 4 / 2;
            align-items: center;
            background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            border: 0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 140px;
            padding: 3px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
            transition: all .3s;
        }


        #div5 {
            grid-area: 3 / 2 / 5 / 4;
            overflow: auto;
            padding: 1rem;
        }
        #div6 {
            grid-area: 2 / 4 / 4 / 5;
            position: relative; /* 添加相对定位 */
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            padding: 1rem;
        }

        #div6::before {
            content: '';
            background-image: url('/mainimg.webp');
            background-size: cover;
            background-position: center;
            opacity: 0.2; /* 初始透明 */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s ease; /* 添加过渡效果 */
        }
        #div6:hover::before {
            opacity: 1; /* 鼠标悬停时透明度变为 1 */
        }
        #div7 {
            grid-area: 4 / 2 / 5 / 4;
            overflow: hidden;
            max-height: 7rem;
        }
        .hometitle {
            max-height: 1fr;
            font-size: 3rem;
            font-weight: bold;
            font-family: 'Future-mono';
            background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            background-clip: border-box;
            background-size: 100% auto;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .homep {
            font-family: var(--font-family-mono);
            text-align: left;
            margin: 1rem;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>
<style>
    @media only screen and (max-width: 799px) {
        :root {
            all: initial;
        }
        .parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            padding: 2rem;
            position: relative;
        }
        #div1 {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1 / 1 / 2 / 3;
            font-size: 1rem;
            img {display: none}
        }
        #div2 {display: none}
        #div3 {
            grid-area: 4 / 1 / 4 / 3;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #div4 {
            display: none;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            font-size: 2rem;
        }
        #div5 { grid-area: 2 / 1 / 4 / 3; }
        #div6 {display: none}
        #div7 {display: none}
        #div4c {display: none}
    }
</style>
