---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, lang } =
  Astro.props;
---

<Layout
  title={title}
  description={description}
  heroImage={heroImage}
  pubDate={pubDate}
  updatedDate={updatedDate}
  lang={lang}
>
  <article data-pagefind-body>
    <div class="prose">
      <div class="title">
        <h1 style="text-align: center;">{title}</h1>
        <div class="date" style="text-align: center;">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr />
      </div>
      <slot />
    </div>
    <script src="https://giscus.app/client.js"
        data-repo="A5yncX/DG"
        data-repo-id="R_kgDOLPfagg"
        data-category="General"
        data-category-id="DIC_kwDOLPfags4CdlA4"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_tritanopia"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
  </article>
</Layout>
