---
import { getBlogPosts } from "../../../content/config";
import FormattedDate from "../../../components/FormattedDate.astro";
import Layout from "../../../layouts/Layout.astro";

import PageFindSearch from '../../../components/PageFind.astro';

const { lang } = Astro.params;

const posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang;
  })
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// 根据年份将文章分组并降序排列
const groupedPosts = posts.reduce((groups, post) => {
  const year = post.data.pubDate.getFullYear().toString();
  if (!groups[year]) {
    groups[year] = [];
  }
  groups[year].push(post);
  return groups;
}, {});

// 按年份降序排列
const sortedGroupedPosts = Object.entries(groupedPosts).sort(([yearA], [yearB]) => parseInt(yearB) - parseInt(yearA));

export async function getStaticPaths() {
  return ["zh", "en"].map((lang) => { //lang
    return { params: { lang } };
  });
}
---

<Layout title="Blog" description="Blog" lang={lang}>
  <PageFindSearch />
  <section>
    {
      sortedGroupedPosts.map(([year, yearPosts]) => (
        <div>
          <div class="year">{year}</div>
          <ul>
            {
              yearPosts.map((post) => (
                <li>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <a href={`/${lang}/blog/${post.fileName}`}>
                    <p class="title">{post.data.title}</p>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      ))
    }
  </section>
</Layout>


<style>
  main {
    width: 960px;
  }
  ul {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;

  }
  ul li {
    display: flex;
    margin-top: 1rem;
    font-family: var(--font-family-mono);
  }
  ul li * {
    font-family: var(--font-family-mono);
    text-decoration: none;
    transition: 0.2s ease;
  }

  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: flex;
  }

  ul li h5{
    text-align: center;
  }
  .year {
    font-family: var(--font-family-mono);
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--gray-light);
  }
  .title {
    margin: 0;
    line-height: 1;
  }
  .date {
    
    padding-right: 2rem;
    margin: 0;
    color: var(--gray);
  }

  /* 标题变色: */
  ul li a:hover h5,
  ul li a:hover .date {
    color: var(--accent);
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
      display: list-item;
    }
    ul li {
      display:inherit;
      width: 100%;
      /* text-align: center; */
    }

  }
</style>
